@media only screen and (max-width: 320px) {
  table {
    width: 100%;
    max-width: 100%;
  }

  .mobile-index {
    zoom: 50%;
    font-size: 10px;
  }

  .webpage {
    text-align: center;
    font-size: 1em;
    margin: 1em 0;
    zoom: 70%;
  }

  td,
  th {
    display: block;
    text-align: center;
  }

  td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  input[type="submit"],
  button {
    padding: 14px;
    width: 240px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    box-shadow: 0 5px 0 #006388;
    transition: 0.2s;
  }

  input[type="submit"]:hover,
  button:hover {
    background-color: #006388;
    box-shadow: 0 3px 0 #00425f;
    transform: translateY(2px);
  }
}

@media only screen and (max-width: 428px) {
  .mobile-index {
    zoom: 100%;
    font-size: 24px;
  }

  input[type="submit"],
  button {
    padding: 14px;
    width: 240px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    box-shadow: 0 5px 0 #006388;
    transition: 0.2s;
  }

  input[type="submit"]:hover,
  button:hover {
    background-color: #006388;
    box-shadow: 0 3px 0 #00425f;
    transform: translateY(2px);
  }

  .webpage {
    text-align: center;
    font-size: 1em;
    margin: 1em 0;
  }

  .webpage input[type="submit"],
  .webpage button {
    padding: 14px;
    width: 240px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    box-shadow: 0 5px 0 #006388;
    transition: 0.2s;
  }

  .webpage input[type="submit"]:hover,
  .webpage button:hover {
    background-color: #006388;
    box-shadow: 0 3px 0 #00425f;
    transform: translateY(2px);
  }
}

.index-page button {
  padding: 10px;
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  display: block;
  margin: 10px auto;
  margin-left: 40px;
  width: 200px;
  box-shadow: 0 5px 0 #006388;
  transition: 0.2s;
}

.index-page button:hover {
  background-color: #94e3fe;
  box-shadow: 0 3px 0 #00425f;
  transform: translateY(2px);
}

.index-page button:hover {
  box-shadow: 0 5px 0 #FFFF00;
  transform: translateY(2px);
}

.index-page button:active {
  box-shadow: 0 2px 0 #FFFF00;
  transform: translateY(4px);
}

.webpage {
  padding: 10px;
  background-color: #004d65;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  width: 200px;
  box-shadow: 0 5px 0 #006388;
  transition: 0.2s;
}

.table-cell {
  padding: 20px;
  text-align: center;
  border: 1px solid black;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

th {
  padding: 0.5em;
  background-color: #006d8f;
  color: white;
  text-align: left;
  text-transform: uppercase;
  text-shadow: 0.1em 0.3em 0.5em #004d65;
}

tr {
  border-bottom: 1px solid #232323;
}

td {
  padding: 0.5em;
  background-color: #5e7c97;
}

tr:last-child td:first-child {
  font-weight: bold;
}

.header {
  display: inline-block;
}

h1 {
  text-align: center;
  font-size: 2em;
  margin: 1em 0;
  border: 4px solid #004d65;
  padding: 20px;
  background-color: #004d65;
  box-shadow: 5px 5px 5px #00364a;
  border-radius: 10px;
  display: inline-block;
}

label {
  display: block;
  margin: 1em 0;
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  font-size: 1.2em;
  width: 100%;
}

input[type="submit"],
button {
  padding: 10px;
  width: 200px;
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  box-shadow: 0 5px 0 #006388;
  transition: 0.2s;
}

input:hover,
button:hover {
  background-color: #53d5fd;
  padding-right: 28px;
  padding-left: 4px;
  border-radius: 20px;
  box-shadow: 0 5px 0 #FFFF00;
  transform: translateY(2px);
}

button:active {
  box-shadow: 0 2px 0 #FFFF00;
  transform: translateY(4px);
}

input:after,
button:after {
  content: '\2190';
  position: absolute;
  opacity: 0;
  top: 8px;
  right: -40px;
  transition: 0.2s;
}

.results-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.results {
  left: 0;
  box-shadow: 0.2em 0.4em 1em #00364a;
}

/* Mobile devices */
@media only screen and (max-width: 767px) {
  table {
    zoom: 70%;
    margin: 0 auto;
    left: -6.7rem;
    padding-bottom: 0.6rem;
  }

  .results {
    zoom: 100%;
    margin-bottom: 5rem auto;
    left: 0.12rem;
  }
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .view-body,
  .table-wrapper {
    display: block;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 90%;
    margin: 1.8rem auto;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1.05);
    transform-origin: center;
  }
}

/* Extra-large tablets */
@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .view-body,
  .table-wrapper {
    display: block;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1);
    transform-origin: center;
  }
}

/* Large desktops */
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .search-body {
    transform: scale(1.25);
    transform-origin: center;
    margin: 5rem auto;
  }

  .view-body,
  .table-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1.0);
    transform-origin: center;
  }
}

/* 4K screens */
@media screen and (min-width: 1000px) and (min-height: 2000px) {
  .view-body,
  .table-wrapper {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1.1);
    transform-origin: top left;
  }

  .search-body {
    transform: scale(1.5);
    transform-origin: center;
    margin: 6rem auto;
  }

  body {
    margin: 1rem;
  }
}

@media screen and (min-width: 3840px) and (min-height: 2160px) {
  .view-body,
  .table-wrapper {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1.5);
    transform-origin: top left;
  }

  .search-body {
    transform: scale(1.5);
    transform-origin: center;
    margin: 6rem auto;
  }

  body {
    margin: 1rem;
  }
}
