body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #004d65;
    color: white;
    padding: 1rem;
    text-align: center;
    border-radius: 5rem;
    margin: auto;
    text-shadow: 0.3px 0.6px 0.4px #004d65;
    width: auto; /* Allow the body to take the full width */
}

a:link, a:visited {
    color: #009dff;
    text-shadow: 1px 1px 1px #3c6c80;
}

a:hover, a:focus {
    color: #fbff00;
    text-decoration: none;
}

h1 {
    font-size: 1.5em;
    border: 0.5rem solid #004d65;
    padding: 0.1rem;
    background-color: #004d65;
    box-shadow: 5px 5px 5px #00364a;
    text-shadow: 5px 5px 5px #00364a;
    border-radius: 1rem;
    margin: auto;
    display: block;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    margin: 2rem auto;
}

table {
    border-collapse: collapse;
    box-shadow: 0.1em 0.2em 2em #00364a;
    width: 100%;
    margin: 1em 0;
}

th, .table-cell {
    padding: 0.5em;
    text-align: left;
    border: 0.1rem solid #26425f;
}

th {
    background-color: #006d8f;
    color: white;
    text-shadow: 0.1em 0.3em 0.5em #004d65;
}

td {
    background-color: #5e7c97;
}

label {
    margin: 0.5em;
    font-weight: bold;
    display: block;
}

input[type="text"], input[type="number"] {
    padding: 0.6em 0.5em;
    border: 1.5px solid #004d65;
    border-radius: 5px;
    font-size: 1em;
    margin: 0.6rem 0;
    box-shadow: 0.1em 0.2em 1em #00364a;
    width: 100%;       /* Let the input take full width of its container */
    max-width: 300px;  /* Maximum width for the input. Adjust as required. */
}


.button-container {
    display: flex;
    flex-direction: column;  /* Stack buttons vertically */
    align-items: center;     /* Center align buttons */
    width: 100%;
    margin-top: 1em;
}

.plotly-graph-container {
    width: 100%;           /* Ensures container takes full width of its parent */
    text-align: center;    /* Centers inline or inline-block content */
    margin: 0 auto;        /* This could be redundant but ensures block-level centering */
}

#live-graph {
    display: inline-block; /* This treats the graph like inline content, allowing it to be centered by the container's text-align property */
    width: 100%;            /* This can be adjusted as per your design needs */
    max-width: 596px;      /* Prevents the graph from becoming too wide on large screens */
    margin: 0 auto;        /* Centers block-level content, but could be redundant here */
}


button[type="submit"], input[type="submit"] {
    padding: 0.7rem 1.5rem;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 1px 3px 3px #004d65;
    box-shadow: 0.2em 0.4em 1em #00364a;
    font-size: 1em;
    transition: 0.2s;
    margin: 0.5rem 0;  /* Space out buttons */
    width: 100%;       /* Let the button take full width of its container */
    max-width: 300px;  /* Maximum width for the button. Adjust as required. */
}

button[type="submit"]:hover, input[type="submit"]:hover {
    background-color: #36a7c9;
    box-shadow: 0px 3px 2px #FFFF00;
    text-shadow: 0px 1px 0px #FFFF00;
    transform: translateY(-0.05rem);
}

@media only screen and (max-width: 767px) {
    table {
        zoom: 70%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        transform: scale(1.05);
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    .container {
        transform: scale(1.0);
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .container {
        transform: scale(1.25);
    }
}

@media screen and (min-width: 1000px) and (min-height: 2000px) {
    .container {
        transform: scale(1.1);
    }
}

@media screen and (min-width: 3840px) and (min-height: 2160px) {
    .container {
        transform: scale(1.5);
    }
}
